html, body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 700px;
    margin: auto;
}

.box {
    background-color: white;
    margin: 30px;
    padding: 20px;
}

.image {
    width: 100%;

}

.botton {
    color: black;
    background-color: skyblue;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}